.split{
  height:900px;
  width:700px;
  position: fixed;
  z-index: index 1;
  top:0;
  overflow-x: hidden;
  padding-top: 30px;
}
.left{
  left:0;
  background-color: gold;
}
.right{
  right:0;
  background-color: aqua;
}
.centered{
  position:absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50px,-50px);
  text-align: center;
}